/* normal aktiv grotesk
font-family: aktiv-grotesk, sans-serif;
font-weight: 400;
font-style: normal;
*/

/*//////////////////////////GENERAL//////////////////////*/

div {
    /* border: red solid 1px; */
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9em;
    line-height: 1.7em;
    color: black;
}

h2 {
    font-size: 6.25em;
    text-transform: uppercase;
    line-height: 0.876em;
    letter-spacing: -0.03em;
    font-weight: 400;
}

/* Extra small devices (phones, 700px and down) */

@media only screen and (max-width: 900px) {
    h2 {
        font-size: 5em;
    }
}

/* Small devices (portrait tablets and large phones, 700px and up) */

@media only screen and (min-width: 900px) {
    h2 {
        font-size: 6.25em;
    }
}

h3 {
    font-size: 2em;
    text-transform: uppercase;
    line-height: 1.075em;
    font-weight: 400;
}

@media only screen and (max-width: 700px) {
    h3 {
        font-size: 1.7em;
    }
}

@media only screen and (min-width: 700px) {
    h3 {
        font-size: 2em;
    }
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

.all-caps {
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.container {
    margin-top: 1.2vh;
    width: 97%;
}

/*//////////////////////////NAVBAR//////////////////////*/

#navbar {
    /* border-bottom: 1px solid black; */
    padding-bottom: 1%;
}

.navbar-link {
    padding-left: 0;
    padding-bottom: 1%;
    border-bottom: 1px solid black;
}

#navbar-resources {
    text-align: right;
}

/* Extra small devices (phones, 700px and down) */

@media only screen and (max-width: 700px) {
    #navbar-resources, #navbar-projects, #navbar-events, #navbar-reading, #navbar-people {
        text-align: left;
    }
}

/* Small devices (portrait tablets and large phones, 700px and up) */

@media only screen and (min-width: 700px) {
    #navbar-resources {
        text-align: right;
    }
    #navbar-projects, #navbar-events, #navbar-reading, #navbar-people {
        text-align: center;
    }
}

/*//////////////////////////HOME PAGE//////////////////////*/

.body-home {
    background-color: #F6921E;
}

/* HOME PAGE LOGO */

#logo-div {
    padding: 0;
    margin: 0;
    float: left;
}

#logo-gif {
    width: 100%;
    float: left;
    padding: 0;
}

/* HOME PAGE BOTTOM */

#bottom-div {
    margin-top: 5%;
    padding: 0;
}

#about-div {
    border-top: 1px solid black;
    padding: 1.25vh 0 0 0;
}

#contact-div {
    border-top: 1px solid black;
    padding: 1.25vh 0 0 0;
}

/*//////////////////////////READING CLUB//////////////////////*/

.body-reading-club {
    background-color: #D9E021;
}

/*READING PG BLOCK*/

#reading-div {
    margin-top: 0.5vh;
    padding: 0;
}

.col {
    padding: 0;
}

.week-intro {
    padding-bottom: 3vh;
}

.week-reading {
    border-top: 1px solid black;
    padding-top: 1vh;
    margin-bottom: 5vh;
}

.reading-date {
    margin-bottom: 5vh;
}

/*//////////////////////////EVENTS//////////////////////*/

#event-div {
    margin-top: 0.5vh;
    padding: 0;
}

.body-events {
    background-color: #BB7A2A;
}

.week-event {
    border-top: 1px solid black;
    padding-top: 1vh;
    margin-bottom: 5vh;
}

.event-date {
    margin-bottom: 1%;
}

.event-title {
    margin-bottom: 5%;
}

#event-h2-div{
    width: 100vw;
}


/*//////////////////////////PROJECTS//////////////////////*/

.body-projects {
    background-color: #A8D9E5;
}

.project-div {
    padding: 1% 0%;
    display: inline-block;
    vertical-align: top;
}

/*PROJECT BLOCK*/

#project-title-div {
    padding-bottom: 0.5vh;
    border-bottom: 1px solid black;
}

.project-img {
    position: relative;
    vertical-align: top;
}

/* Extra small devices (phones, 700px and down) */

@media only screen and (max-width: 700px) {
    .project-img {
        width: 94vw;
        float: left;
    }
}

/* Small devices (portrait tablets and large phones, 700px and up) */

@media only screen and (min-width: 700px) {
    .project-img {
        width: 28vw;
        float: right;
        padding: 1%;
    }
}

.project-div-full {
    border-bottom: 1px solid black;
}

/*//////////////////////////PEOPLE//////////////////////*/

.body-people {
    background-color: #417EF6;
}

.people-div {
    padding: 1% 0%;
    display: inline-block;
    vertical-align: top;
}

/*PEOPLE BLOCK*/

#people-title-div {
    padding-bottom: 0.5vh;
    border-bottom: 1px solid black;
}

.people-div-full {
    border-bottom: 1px solid black;
}

.people-url-div {
    padding: 2% 0%;
}

.people-img {
    position: relative;
    vertical-align: top;
}

/* Extra small devices + smaller(phones, 700px and down) */
@media only screen and (max-width: 700px) {
    .people-img {
        width: 96vw;
        float: left;
        padding-bottom: 3%;
    }

    .people-name{
        padding-top: 3%;
    }
}

/* Small devices + above (portrait tablets and large phones, 700px and up) */
@media only screen and (min-width: 700px) {
    .people-img {
        width: 28vw;
        float: right;
        padding: 1%;
    }
}

/*//////////////////////////RESOURCES//////////////////////*/

.body-resources {
    background-color: #39B54A;
}

/*RESOURCE BLOCK*/
#resource-title-div {
    padding-top: 0.5vh;
}

#resource-events-div, #resource-grant-div{
    border-bottom: 1px solid black;
}

#resource-events-div, #resource-grant-div, #resource-org-div{
    padding-top: 3%;
    line-height: 1.75em;
}

#resource-h2-div{
    width: 100vw;
}


/* Small devices + above (portrait tablets and large phones, 700px and up) */
@media only screen and (max-width: 900px) {
    .resources-text-div{
        width: 100%;
    }
}
