<!--NAVBAR-->
<div id='navbar' class='row justify-content-between'>
    <div id='navbar-trashclub' class='navbar-link col-sm'>
        <a href="/">Trash Club</a>
    </div>

    <div id='navbar-reading' class='navbar-link col-sm'>
        <a href="/reading/">Readings</a>
    </div>

    <div id='navbar-events' class='navbar-link col-sm'>
        <a href="/events/">Events</a>
    </div>

    <div id='navbar-projects' class='navbar-link col-sm'>
        <a href="/projects/">Projects</a>
    </div>

    <div id='navbar-people' class='navbar-link col-sm'>
        <a href="/people/">People</a>
    </div>

    <div id='navbar-resources' class='navbar-link col-sm'>
        <a href="/resources/">Resources</a>
    </div>

</div>