<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trash Club: Dispatches from the Toxic Commons</title>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!--Stylesheet-->
    <link rel="stylesheet" href="/style/toxstyle.css">

    <!--adobe fonts-->
    <link rel="stylesheet" href="https://use.typekit.net/lwy8jjd.css">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://unpkg.com/textures@1.2.0/dist/textures.js"></script>
    <script src="https://unpkg.com/topojson-client@3"></script>

    <link rel='stylesheet' href='http://www.cnap.graphismeenfrance.fr/infini/css/infini-fontes.css'>

</head>