---
title: Resources
layout: default
---

<body class='body-resources'>
    <!--CONTAINER-->
    <div class="container">

        <!--NAVBAR-->
        {% include navbar.html %}

        <!--RESOURCES-->
        <div id='resource-container' class='row justify-content-between'>

            <!--RESOURCES TITLE-->
            <div id='resource-title-div' class='col col-md-7'>
                <div class = 'resource-h2-div'>
                    <h2>Resources</h2>
                </div>
            </div>


            <!--RESOURCES SECTION-->
            <div class='resources-text-div col col-md-5'>
                {% for resource in site.resources %}
                <div id='{{ resource.div_id }}' class='resource-div'>
                    <h3>{{ resource.title}} </h3>
                    {{ resource.content }}
                </div>
                {% endfor %}
            </div>
        </div>
        <script src="/scripts/script.js"></script>
    </div>