---
title: My page
layout: default
---

<body class='body-resources'>
    <!--CONTAINER-->
    <div class="container">

        <!--NAVBAR-->
        {% include navbar.html %}

        <!--RESOURCES-->
        <div id='resource-container' class='row justify-content-between'>
            <!--RESOURCES TITLE-->
            <div id='resource-title-div' class='col col-md-12'>
                <h2>Resources</h2>
            </div>
        </div>

        <div class='row justify-content-between'>
            
            {% for resource in site.resources %}
                    <div id='{{ resource.div_id }}' class='resource-div'>
                        <h3>{{ resource.title}} </h3>
                        {{ resource.content }}
                    </div>
            {% endfor %}

        </div>
 
    </div>
