---
title: Readings
layout: default
---

<body class='body-reading-club'>
  <!--CONTAINER-->
  <div class="container">

    <!--NAVBAR-->
    {% include navbar.html %}

    <div id='reading-div' class='row justify-content-between'>
      <!--LEFT: ABOUT BLURB-->
      <div id='reading-title-div' class='col col-md-6'>
        <div id='reading-h2-div'>
          <h2 id='reading-h2'>Reading<br>Club</h2>
        </div>
      </div>



      <!--RIGHT: READINGS-->
      <div id='reading-week-div' class='col col-md-6'>
        <div class='week-intro'>
          <p>The Spring 2021 Reading Club meets every other Monday at 8p ET, beginning February 1st | 
            Zoom Link:
            <a href="https://nyu.zoom.us/j/96880111101?pwd=YUZJZ3hZWitWSjNHSmVRaWp4TEtJUT09" target="_blank" rel="noopener noreferrer"> here</a>. You can also get a sense of our past excursions on our <a href="https://www.are.na/trash-club">Are.na</a>. 
          </p>
        </div>

        <!--WEEK 1-->

        {% assign sorted = site.readings | sort: 'date' | reverse %}
        {% for reading in sorted %}

        <div class='week-reading'>
          <!--DATE-->
          <div>
            <h3 class='reading-date'>{{ reading.date | date: "%B %-d, %Y"}}</h3>
            <!--READING 1-->
            {{ reading.content }}
          </div>
        </div>

        {% endfor %}

      </div>
    </div>