---
layout: default
---

<body class='body-blog'>

  <!--CONTAINER-->
  <div class="container">

    {% include navbar.html %}

    <!--BLOG TITLE-->
    <div id='blog-full-container' class='row justify-content-between'>
      <div class='col col-md-12'>
        <h1 class = 'blog-h1'><a>{{ page.title | escape }}</a></h1>
      </div>
    </div>

    <!-- <h1><a>{{ page.title | escape }}</a></h1> -->

    <span class="post-meta" class = 'post-date'>{{ page.date | date: "%b %-d, %Y" }}</span>
    <div class="content">
      {{ content }}
    </div>

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  </div>

</body>