---
layout: default
---

<body class='body-blog'>

  <!--CONTAINER-->
  <div class="container">

    {% include navbar.html %}

    <!--BLOG TITLE-->
    <div id='blog-full-container' class='row justify-content-between'>
      <div id='blog-div' class='col col-md-12'>
        <h2 class = 'tag-title'><a>Tag: {{ page.tag }}</a></h2>

        <ul>
          {% for post in site.tags[page.tag] %}
          <li class = 'tag-posts'><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
            {{ post.description }}
          </li>
          {% endfor %}
        </ul>

      </div>
    </div>

    <!-- <div class="post">
      <h1><a>Tag: {{ page.tag }}</a></h1>
      <ul>
        {% for post in site.tags[page.tag] %}
        <li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
          {{ post.description }}
        </li>
        {% endfor %}
      </ul>
    </div>
    <hr> -->

  </div>

</body>