---
title: My page
layout: default
---

<body class='body-events'>
    <!--CONTAINER-->
    <div class="container">

        <!--NAVBAR-->
        {% include navbar.html %}

        <!--LEFT: ABOUT BLURB-->
        <div id='reading-div' class='row justify-content-between'>
            <div id='reading-title-div' class='col col-md-6'>
                <h2>Events</h2>
            </div>

            <!--RIGHT: READINGS-->
            <div id='week-div' class='col col-md-6'>
                <div class='week-intro'>
                    <p>We have designed some ongoing events. The objectives of these events are to encourage (1) ongoing
                        participation, (2) more sustained engagement, and (3) a lasting impact on both participating
                        individuals and communities.
                    </p>
                </div>

                <!--WEEK 0-->

                {% for event in site.events %}

                <div class='week-reading'>
                    <!--DATE-->
                    <div>
                        <!--EVENT DATE-->
                        <div class='event-date'>{{ event.date | date: "%B %-d, %Y"}}</div>
                        <!--EVENT TITLE-->
                        <h3 class='event-title'>
                            {{ event.title }}
                        </h3>
                        <!--READINGS-->
                        <div class='event-readings-div'>
                            Readings:
                            <div>
                                {{ event.content }}
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>

    </div>